*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.navbar{
  width: 100%;
  background: #000;
}
.navbar .wrapper{
  max-width: 1100px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .list li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.wrapper .list li a{
  color: #fff;
  font-size: 20px;
}
.wrapper .logo img{
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.wrapper .bars{
  font-size: 50px;
  color: #fff;
  display: none;
}
.list .produk .hiddenbar{
  position: absolute;
  padding: 10px;
  background: #000000;
  display: none;
}
.list .produk.active .hiddenbar{
  display: block;
}
.wrapper .list .produk .hiddenbar li{
  display: block;
  margin: 5px;
}

.home{
  height: 100vh;
  background: #9098cb;
}
.home .content{
  height: 100%;
}
.home .content .about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.home .content .about .title{
  width: 50%;
  text-align: center;
  padding: 20px;
  font-size: 40px;
  font-weight: 600;
  color: white;
}
.home .content .about .sambutan{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.container{
  width: 100%;
  padding: 10px;
}
.container .kotak-input{
  width: 100%;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
}
.kotak-input .id{
  color: #a0a0a0;
}
.kotak-input .input form input{
  width: 100%;
  font-size: 15px;
  outline: none;
  padding: 5px;
  border: none;
}
.kotak-input .input form input:focus{
  border-bottom: 1px solid black;
}

.kotak-dm{
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  border: 1px solid black;
  border-radius: 5px;
}
.kotak-dm .opt{
  font-size: 15px;
  color: #a0a0a0;
}
.kotak-dm .options{
  padding: 5px;
}
.options input{
  margin: 10px 0;
}
.kotak-dm #hidden{
  display: none;
}
.pay{
  width: 100%;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
}
.pay .argument{
  padding: 5px;
  color: #a0a0a0;
}

.btnbeli{
  width: 100%;
  margin-top: 10px;
  background: green;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.btnbeli a{
  width: 100%;
  text-align: center;
  background: green;
  color: #fff;
  border-radius: 5px;
}

.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.options .opsi{
  width: 45%;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  margin: 5px;
  border-radius: 4px;
}
.options .opsi.active{
  border: 1px solid green;
  color: #fff;
  background: green;
}

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px 15px;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
}
.box .tblconfirm{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tblconfirm a{
  width: 50%;
  margin: 5px;;
  text-align: center;
  background: green;
  color: #fff;
}
.help{
  width: 100%;
  margin: 50px 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
.help .title{
  font-size: 30px;
  font-weight: 600;
}
.help .keter{
  text-align: left;
  font-size: 15px;
}

.pay .harga{
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  display: none;
}

/* RESPONSIVE MEDIA QUERY */
@media(max-width: 600px){
  .wrapper .bars{
    display: block;
    z-index: 9999;
  }
  .wrapper .logo{
    font-size: 40px;
  }
  .wrapper .list{
    background: #000;
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: -100%;
    top: 0;
    padding: 15px;
    overflow: hidden;
    transition: left 0.3s;
  }
  .wrapper .list.active{
    left: 0;
  }
  .wrapper .list li{
    display: block;
    text-align: left;
    margin: 30px;
    position: relative;
    left: 100%;
    transition: left 0.3s;
  }
  .wrapper .list .produk .hiddenbar li{
    left: 0;
  }
  .wrapper .list.active li{
    position: relative;
    left: 0;
  }
  .wrapper .list li a{
    font-size: 30px;
  }
  .wrapper .list .produk ul{
    display: none;
    position: relative;
    padding: 0;
    margin: 0;
  }
  .wrapper .list .produk.active ul{
    display: block;
  }
  .list .produk .hiddenbar li{
    padding: 10px;
    margin: 0;
  }
  .wrapper .list .produk .hiddenbar li:hover{
    background: crimson;
  }
  .home .content .about{
    flex-wrap: wrap;
  }
  .home .content .about .title{
    width: 100%;
    padding: 5px;
  }
  .home .content .about .sambutan{
    width: 100%;
  }
}